/**
 * ----------------------------------------
 * 本页面用于在[[User:BearBin]]及其子页面提供样式。
 * 虽然写的一塌糊涂，不过总之欢迎取用，能够署名就再好不过了~
 * @original author::bearbin
 * @date 2023-03-26
 * ----------------------------------------
 * 本css由于为了能帮助改变LJL用户界面，特在此引用该用户的css进行部分修改后重新发布
 * 源作者[[User:BearBin]]没有选择分发协议，故在此重新更改分发时选择使用CC BY-NC-SA 3.0 CN DEED（署名-非商业性使用-相同方式共享 3.0 中国大陆）协议，重新更改时请保留该协议。
 * @author:LJL
 * @date 2024.12.20
 * @github repo URL:https://github.com/ljlofficial/stylecssformoegirl.git
 * @gitee repo URL:https://gitee.com/ljlorljl/stylecssformoegirl.git
 * @git commit:b871d407f7bf2031eb332107012d90334bd66f41
 */

/* 越改越窄的基础分块容器
---------------------------------------- */
.LJL-wrapper {
    display: block;
    box-sizing: border-box;
    max-width: 93em;
    margin: .5em auto 1em;
    padding: 6em;
    border-radius: .6em;
    box-shadow: 0 2px 13px #b5b0b0;
    transition-duration: .3s;
}
@media screen and (max-width: 768px) {
    .LJL-wrapper {
        padding: .6em;
    }
}
@media screen and (max-width: 480px) {
    .LJL-wrapper {
        padding: .6em;
    }
}
.LJL-wrapper>ul .external {
    background: none;
    padding-right: inherit;
}
.LJL-wrapper>ul>li {
    margin-bottom: .15em;
}
.LJL-wrapper a,
.LJL-wrapper a:visited,
.LJL-wrapper a.external,
.LJL-wrapper a.external:visited {
    color: #054bbc;
}
.LJL-wrapper a:active {
    color: #faa700;
}
.LJL-wrapper .heimu a {
    color: #000000;
}
/* 目录
---------------------------------------- */
.LJL-toc {
    display: table;
    box-sizing: border-box;
    min-width: 9.7em;
    margin-bottom: 1em;
    padding: .5em;
    font-size: inherit;
    border: 1px solid #b5b0b0;
    border-radius: .6em;
    box-shadow: 1px 2px 5px #d6d5d5;
    background: #b5b0b0 !important;
}
.LJL-toc .toc-head {
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.LJL-toc .mw-collapsible-toggle {
    height: 1.5em;
    line-height: 1.5em;
    transition-duration: .3s;
}
.LJL-toc .mw-collapsible-toggle:hover {
    background-color: #b5b0b0
}
.LJL-toc .mw-collapsible-text:hover {
    text-decoration: none;
}
.LJL-toc .toc-content {
    margin-top: .15em;
}
.LJL-toc .toc-content>div a {
    display: block;
    padding: 0 0.8em;
    border-radius: .36em;
    transition-duration: .3s;
}
.LJL-toc .mw-collapsible-text {
    padding: .1em .2em;
    transition-duration: .3s;
    border-radius: .4em;
}
.LJL-toc .mw-collapsible-toggle-default::before,
.LJL-toc .mw-collapsible-toggle-default::after {
    content: none;
}
.LJL-toc .toc-content>div a:hover {
    text-decoration: none;
    background-color: #b5b0b0
}
@media screen and (max-width: 576px) {
    .LJL-toc {
        width: 100%
    }
}

/* 信息栏
---------------------------------------- */
.LJL-info {
    float: right;
    clear: right;
    margin: 0 0 .3em .4em;
    padding: .45em;
    border-radius: .6em;
    border: 1px solid #ccc;
    background-color: #b5b0b0;
    box-shadow: 1px 2px 5px #b5b0b0;
}
@media screen and (max-width: 576px) {
    .LJL-info {
        float: none;
        margin: 0 auto 0.3em;
    }
}
.LJL-info .info-avatar img {
    display: block;
    width: 256px;
    max-width: 100%;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 5px #b5b0b0
}
.LJL-info .info-headbar {
    margin: .3em 1em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 1px solid #b5b0b0
}
.LJL-info .info-main {
    display: grid;
    grid-template-columns: 45% 55%;
    margin: auto .8em;
}
.LJL-info .info-main>div {
    line-height: 2em;
    overflow: hidden;
}
.LJL-info .content-title {
    padding-left: .5em;
}
.LJL-info .score-column {
    transition-duration: .3s;
}
.LJL-info .score-column:hover {
    transform: scale(1.1) translateY(.1em);
}
.LJL-info .info-score {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid #b5b0b0;
    margin: .5em 1em .3em;
}
.LJL-info .content-title,
.LJL-info .score-type {
    cursor: default;
}
.LJL-info .score-type {
    font-weight: 700;
}
/* 序言
---------------------------------------- */
/*实际使用中不需要这部分，已经删除*/
/* 用户框
---------------------------------------- */
.LJL-userbox {
    display: inline-block;
    margin: 1px 6px 2px 0;
    box-shadow: 2px 2px 5px #b5b0b0;
    transition: all .3s ease-out !important;
    border-collapse: collapse;
    border-spacing: 0;
    height: 60px;
}
.LJL-userbox th {
    box-sizing: border-box;
    height: 60px;
    padding: 0;
    overflow: hidden;
    color: inherit;
    border-right: 1px solid #b5b0b0;
    background-color: #b5b0b0;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    /*-ms-user-select: none;*/
    /*"Property is norstandard.Avoid use it"*/
}
.LJL-userbox th>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    overflow: hidden;
    line-height: 1.2;
}
.LJL-userbox th>div>img,
.LJL-userbox th>div>a>img{
    max-width: 60px;
    max-height: 60px;
}
.LJL-userbox td {
    box-sizing: border-box;
    width: 200px;
    padding: 0 0.3em;
    text-shadow: 1px 1px 3px #b5b0b0;
    background: #b5b0b0;
    vertical-align: middle;
    line-height: 1.2em;
}
.LJL-userbox:hover {
    transform: scale(1.05);
}
/* 贡献
---------------------------------------- */
.LJL-contribution {
    box-sizing: border-box;
    max-width: 93em;
    margin: auto;
    padding: .6em;
    border: 1px solid #ccc;
    border-radius: .6em;
    box-shadow: 0 0 6px #b5b0b0;
}
.LJL-contribution>ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0 !important;
    cursor: default;
}
.LJL-contribution li {
    margin: 0;
    list-style: none none;
}
.LJL-contribution>ul>li {
    flex: 1 1 16em;
    margin: 0;
    padding: 0.6em !important;
    font-size: 105%;
    /*年轻人觉得太小了，改大点（）*/
    font-weight: 700;
    border-radius: .6em;
    transition-duration: .5s;
}
.LJL-contribution>ul>li:hover {
    background-color: #b5b0b0;
}
.LJL-contribution>ul>li>ul {
    margin: 0 0 0 1.2em !important;
    max-height: 22em;
    overflow: auto;
    font-size: 87.7%;
    font-weight: 400;
}
.LJL-contribution>ul>li>ul>li>i {
    padding-left: .1em;
    font-size: 60%;
    color: #889;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.LJL-sub::after,
.LJL-contribution>ul>li>ul>li>i::before {
    content: "改";
    vertical-align: baseline;
    padding-left: .1em;
    color: rgb(225, 74, 74);
}
@media screen and (max-width: 576px) {
    .LJL-contribution {
        max-height: 83vh;
        overflow: auto;
    }
    .LJL-contribution>ul>li>ul {
        max-height: initial;
    }
}
/* 按钮
---------------------------------------- */
.LJL-button {
    margin: 0 0 .3em;
}
.LJL-buttontext {
    display: inline-block;
    padding: 0.3em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    font-family: "Noto Sans", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", 思源黑体, -apple-system, "Microsoft YaHei", "Wenquanyi Micro Hei", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;   /*使用统一的回滚字体*/
    font-size: 1.2em;
    font-weight: 800;
    box-shadow: 1px 2px 5px rgba(127, 127, 127, 0.3);
    transition-duration: .5s;
    background: linear-gradient(125deg,
            rgba(255, 255, 255, 1) 0,
            rgba(255, 255, 255, 0.6) 23%,
            rgba(255, 255, 255, 0) 36%,
            rgba(255, 255, 255, 0) 64%,
            rgba(255, 255, 255, 0.6) 77%,
            rgba(255, 255, 255, 1) 100%);     /*这部分暂时保留*/
}
.LJL-buttontext:hover {
    transform: translate(0, -0.2em);
}
/* 签名版
---------------------------------------- */
.LJL-signboard {
    overflow: auto;
    max-height: 26.5em;
    border: 3px solid rgb(0, 0, 255);
    border-radius: .6em;
}
.LJL-signboard>ol {
    list-style-type: decimal-leading-zero !important;
}
.LJL-signboard>ol>li {
    padding-left: .25em;
    border-radius: .45em;
    transition-duration: .3s;
    cursor: default;
    word-wrap: break-word;
}
.LJL-signboard>ol>li:hover {
    background-color: rgba(172, 172, 172, .28);
}
.LJL-signboard>ol>li span[style^="color:#000;font-size:1em;line-height:1.4;background:#F5F6F7;"] {
    background-color: rgba(245, 246, 247, .5) !important;
}
/*修改了边框颜色*/
/* 歌单
---------------------------------------- */
.LJL-musiclist {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: space-around;
    column-gap: .2em;
}
.LJL-musicbox {
    display: inline-block;
    flex: 0 1 330px;
    box-sizing: border-box;
    margin: .12em 0 .7em;
    padding: .8em 1.2em;
    border: 1px solid #ccc;
    border-radius: .5em;
    box-shadow: 2px 2px 5px rgba(127, 127, 127, 0.45);
    transition-duration: .4s;
    line-height: 1.1em;
}
@media screen and (max-width: 576px) {
    .LJL-musicbox {
        margin: .15em auto;
        padding: .4em .8em;
    }
}
.LJL-musicbox .music163 {
    min-height: 1.1em;
}
.LJL-wrapper>div:first-child:not([class]):not([id]):not([style]),
.LJL-musicbox .subinfo {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: none;
}

.LJL-musicbox:hover {
    transform: scale(1.04);
}

.LJL-musicbox .LJL-comment {
    text-align: right;
}
/* 展廊
---------------------------------------- */
.LJL-hall {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    column-gap: .6em;
}
.LJL-showcase {
    position: relative;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 160px;
    margin-bottom: .6em;
    background: linear-gradient(125deg,
            rgba(255, 255, 255, 1) 0,
            rgba(255, 255, 255, 0.6) 23%,
            rgba(255, 255, 255, 0) 36%,
            rgba(255, 255, 255, 0) 64%,
            rgba(255, 255, 255, 0.6) 77%,
            rgba(255, 255, 255, 1) 100%);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(127, 127, 127, 0.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: transform .7s cubic-bezier(0.175, 0.885, 0.32, 1.25);
}
.LJL-showcase:hover {
    transform: translate(0, -0.35em);
}
.LJL-showcase .showcase-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}
.LJL-showcase .showcase-content img {
    width: 100%;
    height: auto;
}
.LJL-showcase .content-text {
    font-size: 1.1em;
    font-weight: 700;
}
.LJL-showcase .showcase-summary {
    margin: .2em .7em .5em;
    line-height: 1.5em;
}
.LJL-showcase a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 4;
}
/*这部分代码还是别动了，毕竟已经调整好了（）*/
/* 标题
---------------------------------------- */
h2.LJL-title {
    margin: .3em 0 !important;
    padding: 0 !important;
    border-bottom: 0 !important;
}
h3.LJL-title {
    margin: .3em 0 0 0 !important;
    padding: 0 !important;
}
h2.LJL-title .mw-headline {
    padding-left: 0 !important;
    font-family: "Noto Sans", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", 思源黑体, -apple-system, "Microsoft YaHei", "Wenquanyi Micro Hei", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    /*为什么这里的回滚字体这么多？？？*/
    cursor: default;
    color: #FFFFFF;
    text-shadow:
        -1px -1px 0 rgb(0, 0, 255),
        -1px 0 0 rgb(0, 0, 255),
        -1px 1px 0 rgb(0, 0, 255),
        1px -1px 0 rgb(0, 0, 255),
        1px 0 0 rgb(0, 0, 255),
        1px 1px 0 rgb(0, 0, 255),
        0 1px 0 rgb(0, 0, 255),
        0 -1px 0 rgb(0, 0, 255),
        0 2px 2px rgba(0, 0, 0, 0.6);
        /*我还是更喜欢blue（）*/
}
h2.LJL-title .mw-headline::before {
    content: "\00a0";
    display: inline-block;
    width: 1.2em;
    filter: none
    /*icon不起作用，删了（）*/
}
h2.LJL-title .mw-editsection {
    float: right;
    margin-top: .25em;
}
h2.LJL-title .mw-editsection-bracket,
h3.LJL-title span.mw-editsection,
h4.LJL-title span.mw-editsection {
    display: none;
}
h2.LJL-title span.mw-editsection a,
h2.LJL-title span.mw-editsection-divider {
    opacity: .45;
}
h2.LJL-title span.mw-editsection a:hover {
    text-decoration: none;
    opacity: .85;
}
h2.LJL-title::before,
h3.LJL-title::before,
h4.LJL-title::before,
h2.LJL-title::after {
    content: none !important;
}



/*LICENSE*/
/*CC BY-NC-SA 3.0 CN DEED（署名-非商业性使用-相同方式共享 3.0 中国大陆）协议请访问GitHub仓库的"LICENSE"文件，抑或访问https://creativecommons.org/licenses/by-nc-sa/3.0/cn/*/